.profile__description {
    grid-area: description;
    align-self: flex-start;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 611px) {
    .profile__description {
        max-width: 98%;
    }
}

@media screen and (max-width: 380px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
    }
}